<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 联网权限：debug 由 debug overlay 提供，release 必须在主清单声明。 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 媒体通知：Android 13+ 需要运行时申请 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 前台服务：保持媒体通知在锁屏/后台存活（预留，当前用通知即可） -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 应用内更新：Android 8.0+ 拉起系统安装器安装 APK 需要此权限。
         APK 下载到应用私有目录（getApplicationSupportDirectory），故不需要
         外部存储权限；FileProvider 由 open_filex 插件的 manifest 合并提供。 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="CyreneMusic"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 媒体通知按钮接收器：接收通知栏播放/暂停/上一首/下一首按钮事件 -->
        <receiver
            android:name=".MediaNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.cyrene.media.play"/>
                <action android:name="com.cyrene.media.pause"/>
                <action android:name="com.cyrene.media.playPause"/>
                <action android:name="com.cyrene.media.next"/>
                <action android:name="com.cyrene.media.previous"/>
                <action android:name="com.cyrene.media.stop"/>
            </intent-filter>
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 畅听卡支付：url_launcher 在 Android 11+ 需声明支付宝/微信可见性，否则 launchUrl 静默失败。 -->
        <package android:name="com.eg.android.AlipayGphone"/>
        <package android:name="com.tencent.mm"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="alipays"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="alipay"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="weixin"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
